*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
p{
    display: inline-block;
}
body{
   font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: rgba(10, 10, 10, 0.909);
}
.cruds{
    margin: auto;
    width: 80%;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgba(18, 15, 15, 0.842);
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
}
input:focus{
    transform: scale(1.1);
    background-color: black;
}
.price input{
    width: 20%; 
}
#total{
    background: red;
    border-radius: 5px;
    padding: 5px 3px;
}
#total::before{
    content: "total : ";
}
button{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    transition: 0.5s;
    background-color: rgb(51, 7, 92);
}
button:hover{
    letter-spacing: 1px;
    background-color:rgba(113, 3, 113, 0.922);
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 46%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th , td {
    padding: 5px;
}
#deleteAll{
    margin: 22px 0;
}
